@font-face {
    font-family: 'OSBold';
    src: url(/font/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'OSLight';
    src: url(/font/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'OSReg';
    src: url(/font/OpenSans-Regular.ttf);
}