@import './normalize.css';
@import './font.css';
@import './variables.css';
@import './common.css';
@import './header.css';
@import './hero.css';
@import './courses.css';

.mainWrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    '. header .'
    '. heroMain .'
    '. courses .'
    '. heroSecond .';
    grid-template-columns: 92px 1fr 92px;
    font-family: var(--f-reg);
    color: var(--c-midnight);
}